/week2/day34/CsvExamples/nbproject/private/
/week2/day5/transformCSV/nbproject/private/
/week2/day5/transformCSV/build/
/week2/day12/phoneDirectory/nbproject/private/
/week2/day12/phoneDirectory/build/
/week3/day5/phoneDirectoryDatabase/nbproject/private/
/week3/day5/phoneDirectoryDatabase/build/
/week2/day3_4/LoadFromJson/nbproject/private/
/week2/day3_4/LoadFromJson/build/